<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoGreen</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="css/business-frontpage.css" rel="stylesheet">
    <link href="vendor/style.css" rel="stylesheet">


</head>
<body>
  {{> navbar }}
  <br>
    <br>
       <div class="card-header bg-success text-white" text="Listado de Usuarios">
         <br>
         <span>MODIFICAR DISPOSITIVO: {{dispositivo.nombre}}</span>
       </div>


    <br />
    <!-- Importante indicar el path donde se encuentra el metodo POST -->
    <div class="container py-4 ">
		<div class="card bg-dark text-white">
          
            <div class="card-body">
    <form action="/dispositivoForm/dipositivo/operar" method="POST">
 
        <input type="hidden" name="_id" value="{{dispositivo._id}}"/>
        <div class="form-group">
            <label  class="col-sm-2 col-form-label" for="nombre">Nombre:</label>
            <div class="col-sm-6">
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{dispositivo.nombre}}">
            </div>
        </div>
          <div class="form-group">
            <label  class="col-sm-2 col-form-label" for="modelo">Modelo:</label>
            <div class="col-sm-6">
            <input type="text" class="form-control" id="modelo" name="modelo" value="{{dispositivo.modelo}}">
            </div>
        </div>
       
         <div class="form-group">
            <label   class="col-sm-2 col-form-label"  for="posicion">Posicion:</label>
            <div class="col-sm-6">
            <input type="text" class="form-control" id="posicion" name="posicion" value="{{dispositivo.posicion}}">
         </div>
        </div>
 
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a href="/dispositivo/listar" class="btn btn-danger">Cancelar</a>
    </form>
		</div>
    </div>
    </div>
</div> 
</div>
  
<br>
{{> footer}}